.container {
  display: grid;
  min-width: 150px;
  max-width: 500px;
  width: 100%;
  text-align: center;

  .inputs {
    display: grid;
    grid-template-columns: 2fr 1fr;

    mat-form-field {
      width: 100%;
      max-width: 150px;
      margin: auto;
    }

    .next-buttons {
      display: grid;

      button {
        margin: 0.5rem;
        width: 3rem;
      }
    }
  }

  button {
    width: 150px;
    margin: 1rem auto;
  }

  .results {
    margin: 1rem 0;

    button {
      margin: 0 1rem;
    }
  }
}
